/*links appear in 4 states*/
/*i.e link, visited, hover, active*/

#linkStyling:link{
    /*this color property changes the color of the text of this particular id*/
    color: purple;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: red;
}
#linkStyling:visited{
    color: green;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: red;
}
#linkStyling:hover{
    color: blue;
    text-decoration: underline;
    padding: 10px;
    margin: 10px;
}
#linkStyling:active{
    color: yellow;
    text-decoration: underline;
    padding: 10px;
    margin: 10px;
    background-color: red;
}

#studentTable{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#studentTable td , studentTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#studentTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

#studentTable tr:hover {
    background-color: #d4d4d4;
}

#exampleDiv{
    background-image: url("../images/download.jpeg");
    height: 120px;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

ul{
    list-style: none;
}